{% extends "base.html"%}

{% block pageTitle %}

{% endblock pageTitle %}

{% block contents%}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class= "col-12 col-sm-6 col-md-3">
            <form class="form-container" method="POST">
              <h5 class="display-5 text-center">CREATE EVENT</h5>
              {% csrf_token %}
              {% for a in event_form %}
                <div class="form-group">
                  <label for="name_event">Event</label>
                  {{a}}
                  {% csrf_token %}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-info btn-block">Create Event</button>
                
            </form>
        </div>
    </div>   
</div>
<style>
    .form-container{
        position:absolute;
        top: 23vh;
        background: rgb(255, 244, 92);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #000;
    }
    
</style>
{% endblock contents%}
