{% extends "base.html"%}

{% block pageTitle %}

{% endblock pageTitle %}

{% block contents%}
    <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for e in event %}
        <div class="card p-3 ">
          <h5 class="display-5">{{ e.0.nama_event }}</h5>
          <ul>
            {% for name in e.1 %}
              <li>{{ name.participant }}</li>   
            {% endfor %}
          </ul>
          <button type="button" class="mt-auto btn btn btn-info" data-toggle="modal" data-target="#exampleModal" onclick="addParticipant('{{e.0.nama_event}}','{{e.0.id}}')">Add participant</button>
        </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Participant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Event: 
                <span id="namaKegiatan"></span>
                <form action="" method="POST">
                {% csrf_token %}
                {% for a in participant_form %}
                    <div class="form-group">
                    <label for="name_event">Participant</label>
                    <input type="hidden" name="id_name_event" id="idKegiatan" value="">
                    {{a}}
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Join</button>
            </div>
          </div>
        </div>
      </div>

    <script>
        function addParticipant(namaKegiatan, idKegiatan){
            document.getElementById('namaKegiatan').innerHTML=namaKegiatan;
            document.getElementById('idKegiatan').value=idKegiatan;
        }
    </script>
    <style>
        .card{
            top: 23vh;
            background: rgb(255, 244, 92);
            padding: 60px;
            margin-right: 30px;
            margin-bottom: 40px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgb(58, 56, 56);
        }
    </style>
{% endblock contents%}
{% csrf_token %}
                
