<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>
        {% block Title%}
         
        {% endblock Title%}
    </title>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" id="myNav">
    <a class="navbar-brand" href="/">NAVBAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/" title="">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create" title="">Create</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin" title="">Admin</a>
        </li>
      </ul>
    </div>
  </nav>

    
  {% block pageTitle %}

  {% endblock pageTitle%}
   
  
  {% block contents%}

  {% endblock contents%}
      
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
<style>
  body{
      background:url('https://lh3.googleusercontent.com/proxy/V2MhRq2Hudl1OtJbHaGi9b7SAmuiqxsFFcCbhwxRgAuMNhNQRGc2PPALp84TPO8I-o58CYwgSfUOPYqSrak-xY9lo2BMH1uLCnJbl9RhcAZD8v3AJwqYuKueXdJdnTpakpogcuv2');
    }
</style>
  
</html>